#main-wrapper {
    margin: 50px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}


#main-logo img {
    width: 20px;
    height: auto;
}

#description {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#contact {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
